<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831620632262-bajc86l690fb95mvjd603744s55n655d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831620632262-bajc86l690fb95mvjd603744s55n655d</string>
	<key>API_KEY</key>
	<string>AIzaSyDNsPUXxUNXHYwOZOoPJAGACozv9Nl8EMI</string>
	<key>GCM_SENDER_ID</key>
	<string>831620632262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.carelibro</string>
	<key>PROJECT_ID</key>
	<string>ios-clase</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-clase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831620632262:ios:79456e0f9afb97b0e551c7</string>
</dict>
</plist>